<h1 class="pop">Contact the MEL<span class="orange">8</span>OURNE 
team</h1>
  <h2>Bytes</h2>
  <p>Email <script type="text/javascript" language="javascript">
  <!--
  ML="o\"ucnfltm=<a >.g:@iher8/";
  MI=":;<CED5918;B670@3047;37A8D6F02E4D>0E?1=3047;37A8D6F02E4D>0E?:G;=";
  OT="";
  for(j=0;j<MI.length;j++){
  OT+=ML.charAt(MI.charCodeAt(j)-48);
  }document.write(OT);
  // --></script> for all your linux.conf.au 2008 inquiries, and the right person will get back to you.</p>

  <h2>Sounds</h2>
  <p> Voice: +61 3 9235 5454<br />
      Fax: +61 3 9235 5454</p>

  <h2>Atoms</h2>
  <p>If you need to send us things, please use the following address.</p>
    <blockquote>
      linux.conf.au 2008 Team<br />
      PO Box 13272<br />
      Law Courts &nbsp;VIC&nbsp; 8010<br />
      Australia
    </blockquote>

  <h2>Mailing List</h2>
  <p>If you want to be kept up to speed on what's happening in LCA2008 land, you can subscribe to the
    <a href="http://lists.mel8ourne.org/cgi-bin/mailman/listinfo/announce">announce mailing list</a>.
    We also run a <a href="http://lists.mel8ourne.org/cgi-bin/mailman/listinfo/chat">chat list</a> where
    you can chat with likeminded LCA enthousiasts.</p>

  <h2>Linux Australia</h2>
  <p>linux.conf.au is a <a href="http://linux.org.au/">Linux Australia</a> initiative. ABN 56 987 117 479.</p>

