<h1 class="pop">A tasty ingredient in the linux.conf.au recipe.</h1>

<p>The mini-conferences are dedicated conference streams for specific 
communities of interest. The linux.conf.au organisers provide the space, 
and leave the rest up to the organiser of each mini-conf.</p>

<p>Mini-conf speakers and delegates need to register for the main 
conference to participate.</p>

<p>The evaluation of mini-conf submissions for linux.conf.au
MEL<span class="eight">8</span>OURNE2008 has been completed.  The successful mini-confs are:</p>

<ul>
<li><a href="http://miniconf.mel8ourne.org/wiki/index.php/Community_Wireless">Community Wireless and Connecting Community in Australia</a></li>
<li>Debian Mini-conf</li>
<li>Distro Summit</li>
<li><a href="http://www.fossed.org/lca08/index.html">Education - Because the world needs more smart people</a></li>
<li><a href="http://miniconf.mel8ourne.org/wiki/index.php/Embedded">Embedded Mini-conf</a></li>
<li><a href="https://fedoraproject.org/wiki/LCA/Melbourne2008">Fedora Mini-conf</a></li>
<li><a href="http://miniconf.mel8ourne.org/wiki/index.php/Gaming">Gaming Mini-conf</a></li>
<li><a href="http://gentoo.org.au/index.php?title=Lca08">Gentoo Down Under</a></li>
<li><a href="http://live.gnome.org/Melbourne2008">GNOME.conf.au</a></li>
<li>Greater FOSS Security in a world gone mad.</li>
<li>LinuxChix</li>
<li>Linux Kernel</li>
<li>Multimedia</li>
<li>MySQL</li>
<li><a href="http://sysadmin.miniconf.org/">SysAdmin (Systems Administration) Mini-conf</a></li>
<li><a href="http://virtminiconf.linux.hp.com/">Virtualisation Miniconf</a></li>
</ul>

<p>Thanks to everybody who submitted. Further details of each mini-conf will be available soon. There is also a <a href="http://miniconf.mel8ourne.org/wiki">miniconf wiki</a> for use by organisers and attendees.</p>

<!-- <p>The call to submit proposals to run a mini-conf during linux.conf.au
MEL<span class="eight">8</span>OURNE2008 has been closed as of Friday the 20th
of July. The submissions are now being reviewed by the team.</p> -->

<!-- <p>We now invite members of the linux and open source community to 
<a href="/mini-confs/submit_mini-conf_proposal">submit a proposal</a> to run
a mini-conf during linux.conf.au MEL<span class="eight">8</span>OURNE2008.</p> -->

<p>Please read the <a href="/mini-confs/mini-conf_organiser_FAQ">mini-conf
organiser FAQ</a>, which contains important information about running a
mini-conf.</p>
