<h1 class="pop">The main event: this is what it's all about.</h1>

<p>The presentations - talks and tutorials - are the backbone of the conference.
It's why we all come together in the first place. Read the full <a href="/presentations/announcement">call 4 presentations announcement</a>.</p>

<p>Main conference speakers attend the conference for free and get some
other perks. For more information, please read the <a
href="/presentations/speaker_FAQ">Speaker FAQ</a></p>

<p>We now invite members of the linux and open source community to <a
href="/presentations/submit_a_presentation">submit a proposal</a> for a talk or
a tutorial at linux.conf.au MEL<span class="eight">8</span>OURNE2008.</p>

<p>CFP will close on the 20th of July - get in before it's too late!</p>
