<h1 class="pop">The main event: this is what it's all about.</h1>

<p>The papers - talks and tutorials - are the backbone of the conference.
It's why we all come together in the first place!</p>

<p>Main conference speakers attend the conference for free and get some
other perks. For more information, please read the <a
href="/papers/speaker_FAQ">Speaker FAQ</a></p>

<p>We now invite members of the linux and open source community to 
<a href="/papers/submit_a_paper">submit a proposal</a> for a talk or a
tutorial at linux.conf.au MEL<span class="eight">8</span>OURNE2008.</p>

<p>CFP will close on the 20th of July - get in before it's too late!</P>
