
<h1 class="pop">History</h1>
  <span class="subhead">linux.conf.au is coming home for its tenth birthday.</span>
  <p>It all started in Melbourne back in 1999, with CALU: Conference of Australian Linux Users which was held at Monash University over 3 days in July 1999.</p>
  <p>Renamed to linux.conf.au in 2001 it has grown to become one of the world's best technical Linux conferences.</p>
  <p>It continues to be run by community volunteers for the community volunteers that have made Linux and Free and Open Source Software the phenomenon it is today.</p>

  <p><img src="/pix/ye_mappe.png" height="250" width="400" border="0" alt="[ map: LCA Locations ]" usemap="#yemappe" /></p>

<map name="yemappe" id="yemappe">
  <area shape="poly" coords="213,183,204,203,206,219,263,218,232,185" href="#1999" alt="Melbourne 1999 (CALU)" />
  <area shape="rect" coords="244,143,269,171" href="#2001" alt="Sydney 2001" />
  <area shape="rect" coords="261,100,302,131" href="#2002" alt="Brisbane 2002" />
  <area shape="rect" coords="6,130,37,160" href="#2003" alt="Perth 2003" />
  <area shape="rect" coords="160,151,201,179" href="#2004" alt="Adelaide 2004" />
  <area shape="poly" coords="240,174,239,189,263,208,281,185,275,175" href="#2005" alt="Canberra 2005" />
  <area shape="rect" coords="334,232,394,249" href="#2006" alt="Dunedin 2006" />
  <area shape="rect" coords="269,143,294,171" href="#2007" alt="Sydney 2007" />
</map>

  <a name="2007"></a>
  <h2>2007 - Sydney: University of New South Wales</h2>
  <p>Keynotes</p>
  <ul>
    <li>Chris Blizzard - Moving the Needle: The One Laptop Per Child Project</li>
    <li>Dr. Andrew S. Tanenbaum - Reliable Computing</li>
    <li>Kathy Sierra - Creating Passionate Users</li>
  </ul>
  <p><a href="http://lca2007.linux.org.au/">http://lca2007.linux.org.au/</a></p>

  <h2>2006 - Dunedin: University of Otago</h2>
  <a name="2006"></a>
  <p>Keynotes</p>
  <ul>
    <li>Dave Miller - 3 talks - Niagra, Linux TCP Developments and Kernel Developer Social Interactions</li>
    <li>Damian Conway - Sex <em>and</em> Violence: Technical and Social Lessons from the Perl 6 Development Process.</li>
    <li>Mark Shuttleworth - Improving Collaboration Between Open Source Projects </li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/2006/">http://www.linux.org.au/conf/2006/</a></p>

  <a name="2005"></a>
  <h2>2005 - Canberra - Australian National University</h2>
  <p>Keynotes</p>
  <ul>
    <li>Andrew Tridgell - SAMBA development model</li>
    <li>Andrew Morton - 2.6 kernel development (management)</li>
    <li>Eben Moglen - Free Software, Future threats and challenges - Free radio. </li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/2005/">http://www.linux.org.au/conf/2005/</a></p>

  <a name="2004"></a>
  <h2>2004 - Adelaide: The University of Adelaide</h2>
  <p>Keynotes</p>
  <ul>
     <li>Jon &quot;Maddog&quot; Hall - Programmers Are From Mars, Users/Managers/Companies are from Venus</li>
     <li>Bdale Garbee - Where Would You Like One Hundred Thousand Users to Go Today?</li>
     <li>havoc - The state of the Open-Source Desktop </li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/2004/">http://www.linux.org.au/conf/2004/</a></p>

  <a name="2003"></a>
  <img align="right" src="/pix/history/LCA2003_BIB.jpg" height="200" width="130" hspace="8" vspace="4" alt="BIB: Birds in Black" border="1" />
  <h2>2003 - Perth: The University of Western Australia</h2>
  <p>Keynotes</p>
  <ul>
    <li>Paul &quot;Rusty&quot; Russell - Hacking the kernel and looking cool while driving a fast car</li>
    <li>Bdale Garbee - Herding Wild Cats and Related Adventures - An Inside Look at the Debian Project</li>
    <li>Andrew Tridgell - Network analysis techniques </li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/2003/">http://www.linux.org.au/conf/2003/</a></p>

  <a name="2002"></a>
  <h2>2002 - Brisbane: The University of Queensland</h2>
  <p>Keynotes</p>
  <ul>
    <li>Andrew Tridgell &amp; Jeremy Allison - Ten Years of SAMBA</li>
    <li>Michi Henning - Computing Fallacies</li>
    <li>Theodore Tso - Ten Years of Linux </li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/2002/">http://www.linux.org.au/conf/2002/</a></p>

  <a name="2001"></a>
  <h2>2001 - Sydney: University of New South Wales</h2>
  <p>Keynotes</p>
  <ul>
    <li>Alan Cox - World Domination: Classified Progress Report and Briefing</li>
    <li>David Miller - A Zero-copy and Delayed Fragment Reassembly Framework for Linux</li>
    <li>Andrew Tridgell - Inside the mind of... TiVo </li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/2001/">http://www.linux.org.au/conf/2001/</a></p>

  <a name="1999"></a>
  <img align="right" src="/pix/history/CALU_keynote_maddog.jpg" height="191" width="150" alt="CALU: Maddogs Keynote" border="1" />
  <h2>1999 - Melbourne: Monash University</h2>
  <p>Keynote</p>
  <ul>
    <li>Jon &quot;Maddog&quot; Hall - Take No Prisoners (Venimus, Vidimus, Dolavimus)</li>
  </ul>
  <p><a href="http://www.linux.org.au/conf/1999">http://www.linux.org.au/conf/1999</a></p>
