
  <h1>Linux... is that about IT?</h1>
<p><span class="subhead">Yes it is. Linux is a computer <a href="http://www.webopedia.com/TERM/o/operating_system.html">operating 
system</a></span>. What makes Linux different to most other operating systems, like Microsoft's Windows or Apple's 
MacOS, is the fact that you are free to help make it better, by changing and fixing it. You are also free to 
make copies and share it with other people. </p>

<p>The core part of Linux, known as the kernel, was created by Linus Torvalds in the early 1990's. He 
released his early version with these words:</p>

<a href="http://www.isc.tamu.edu/~lewing/linux/"><img 
src="/pix/150px-Tux_Larry_Ewing.png" height="176" width="150" 
align="right" border="0" alt="Tux - The Linux Penguin" /></a>

<blockquote><em>I'm doing a (free) operating system (just a hobby, won't 
be big and professional like gnu) for 386(486) AT clones. This has been brewing since april, and is starting to get ready.<br />
...<br />
This implies that I'll get something practical within a few months, and I'd like to know what features most 
people would want.  Any suggestions are welcome, but I won't promise 
I'll implement them :-) </em></blockquote>

<p>Since that time, thousands of people around the world have helped make it better, by fixing errors and adding 
new features and programs. And, because Linux can be freely shared or "distributed", people and businesses have 
been able to put it together with other programs to make whole systems. These are known as "distributions", and 
some of these are now used and supported by the largest information technology companies in the world.</p>

<p><a href="http://www.linux.org.au/conf/">linux.conf.au</a> is a grassroots conference, organised by 
volunteers, for the volunteers that work to improve Linux, and the people who use it.</p>

  <h2>More about Linux</h2>
  <ul>
    <li><a href="http://www.linux.org.au/linux/">Linux Australia: about Linux</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Linux">Wikipedia's Linux Article</a></li>
  </ul>
  <p>The word <a href="http://www.linuxmark.org/">Linux</a> is a trademark of Linus 
Torvalds.</p>
