[app:main]
use = egg:zk

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en
pyramid.includes =
    pyramid_debugtoolbar
    pyramid_tm

sqlalchemy.url = postgresql://zookeepr:zookeepr@localhost/zk

cache_dir = %(here)s/data
beaker.session.key = zookeepr
beaker.session.secret = x5SzRj+SDFJOWE89sdf8sdf9
app_instance_uuid = {51baaa53-4fef-4bb5-8c4b-4d0696b03c36}

authkit.setup.method = forward, cookie
authkit.cookie.secret = secret string
authkit.forward.signinpath = /person/signin
authkit.cookie.signoutpath = /person/signout
authkit.setup.intercept = 401, 403
authkit.cookie_enforce = True

# Should be changed to false in production
debug = True

# Enable SSL checking in the code
enable_ssl_requirement = false

# Use this host instead of the current website
#ssl_host =

# Uncomment and replace with the address which should receive any error reports
#email_to = you@yourdomain.com
smtp_server = localhost
error_email_from = zookeepr@localhost

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

[alembic]
# path to migration scripts
script_location = alembic

# template used to generate migration files
# file_template = %%(rev)s_%%(slug)s

# set to 'true' to run the environment during
# the 'revision' command, regardless of autogenerate
# revision_environment = false

sqlalchemy.url = postgresql://zookeepr:zookeepr@localhost/zk
sqlalchemy.convert_unicode = true

# Begin logging configuration

[loggers]
keys = root, zk, sqlalchemy

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_zk]
level = DEBUG
handlers =
qualname = zk

[logger_sqlalchemy]
level = WARN
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
