AuthKit==0.4.5
Beaker==1.5.4
FormEncode==1.2.4
Mako==0.4.1
MarkupSafe==0.12
PIL==1.1.7
Paste==1.7.5.1
PasteDeploy==1.3.4
PasteScript==1.7.3
Pygments==1.4
Pylons==0.9.7
Routes==1.12.3
SQLAlchemy==0.6.7
Tempita==0.5dev
WebError==0.10.3
WebHelpers==1.3
WebOb==1.0.6
WebTest==1.2.3
decorator==3.3.0
dnspython==1.9.4
elementtree==1.2.7-20070827-preview
lxml==2.3
nose==1.0.0
python-openid==2.2.5
simplejson==2.1.3
wsgiref==0.1.2
