/* begin Page */

body
{
  margin: 0 auto;
  padding: 0;
  background-color: #000;
  background-image: url('images/balloons.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top left;
  font-family: "Century Gothic",Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  color: #181910;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.netv-postheader, .netv-postheader a, .netv-postheader a:link, .netv-postheader a:visited, .netv-postheader a:hover,
.netv-blockheader .t, .netv-vmenublockheader .t, .netv-logo-text, .netv-logo-text a,
h1.netv-logo-name, h1.netv-logo-name a, h1.netv-logo-name a:link, h1.netv-logo-name a:visited, h1.netv-logo-name a:hover
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: 32px;
}

a
{
  text-decoration: none;
  color: #000000;
}

a:link
{
  text-decoration: underline;
  color: #000000;
}

a:visited, a.visited
{
  text-decoration: underline;
  color: #686C47;
}

a:hover, a.hover
{
  color: #03008f;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  color: #1F5F93;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-size: 24px;
  color: #297DC2;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-size: 19px;
  color: #686C47;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-size: 16px;
  color: #181910;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-size: 13px;
  color: #181910;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 11px;
  color: #181910;
}

#netv-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}



#netv-page-background-gradient
{
  background-position: top left;
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.netv-sheet
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 1000px;
  min-width: 35px;
  min-height: 35px;
}

.netv-sheet-body
{
  position: relative;
  z-index: 1;
  padding: 13px;
}

.netv-sheet-tr, .netv-sheet-tl, .netv-sheet-br, .netv-sheet-bl, .netv-sheet-tc, .netv-sheet-bc,.netv-sheet-cr, .netv-sheet-cl
{
  position: absolute;
  z-index: -1;
}

.netv-sheet-tr, .netv-sheet-tl, .netv-sheet-br, .netv-sheet-bl
{
  width: 34px;
  height: 34px;
  background-image: url('images/borders/sheet_s.png');
}

.netv-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 17px, 17px, auto);
}

.netv-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 17px, 17px);
}

.netv-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(17px, 17px, auto, auto);
}

.netv-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(17px, auto, auto, 17px);
}

.netv-sheet-tc, .netv-sheet-bc
{
  left: 17px;
  right: 17px;
  height: 34px;
  background-image: url('images/borders/sheet_h.png');
}

.netv-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 17px, auto);
}

.netv-sheet-bc
{
  bottom: 0;
  clip: rect(17px, auto, auto, auto);
}

.netv-sheet-cr, .netv-sheet-cl
{
  top: 17px;
  bottom: 17px;
  width: 34px;
  background-image: url('images/borders/sheet_v.png');
}

.netv-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 17px);
}

.netv-sheet-cl
{
  left: 0;
  clip: rect(auto, 17px, auto, auto);
}

.netv-sheet-cc
{
  position: absolute;
  z-index: -1;
  top: 17px;
  left: 17px;
  right: 17px;
  bottom: 17px;
  background-image: url('images/borders/sheet_c.png');
}

.netv-sheet
{
  margin-top: -13px !important;
  cursor:auto;
}

#netv-page-background-simple-gradient, #netv-page-background-gradient, #netv-page-background-glare
{
  min-width: 1000px;
}

/* end Box, Sheet */

/* begin Header */
div.netv-header
{
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 974px;
  height: 225px;
  overflow: hidden;
}


div.netv-header-jpeg
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 974px;
  height: 225px;
  background-image: url('images/canberra.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Menu */
/* menu structure */

.netv-menu a, .netv-menu a:link, .netv-menu a:visited, .netv-menu a:hover
{
  text-align: left;
  text-decoration: none;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
}

.netv-menu, .netv-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.netv-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.netv-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.netv-menu li li
{
  float: none;
}

.netv-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.netv-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.netv-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.netv-menu:after, .netv-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.netv-menu, .netv-menu ul
{
  min-height: 0;
}

.netv-menu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.netv-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

.netv-menu .selected
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: #e7e6ef;

}

/* menu structure */

.netv-menu
{
  padding: 0 0 0 0;
}

.netv-nav
{
  position: relative;
  height: 29px;
  z-index: 100;
}

.netv-nav .l, .netv-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 29px;
  background-image: url('images/nav.png');
}

.netv-nav .l
{
  left: 0;
  right: 0;
}

.netv-nav .r
{
  right: 0;
  width: 974px;
  clip: rect(auto, auto, auto, 974px);
}


/* end Menu */

/* begin MenuItem */
.netv-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 29px;
  cursor: pointer;
  text-decoration: none;
}

.netv-menu li
{
  margin-right: 0;
  margin-left: 0;
}

.netv-menu ul li
{
    margin:0;
    clear: both;
}


.netv-menu a .r, .netv-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 87px;
  background-image: url('images/menuitem.png');
}

.netv-menu a .l
{
  left: 0;
  right: 0;
}

.netv-menu a .r
{
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.netv-menu a .t
{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  color: #000000;
  padding: 0 8px;
  margin: 0 0;
  line-height: 29px;
  text-align: center;
}

.netv-menu a:hover .l, .netv-menu a:hover .r
{
  top: -29px;
}

.netv-menu li:hover>a .l, .netv-menu li:hover>a .r
{
  top: -29px;
}

.netv-menu li:hover a .l, .netv-menu li:hover a .r
{
  top: -29px;
}
.netv-menu a:hover .t
{
  color: #f0f0f5;
}

.netv-menu li:hover a .t
{
  color: #f0f0f5;
}

.netv-menu li:hover>a .t
{
  color: #f0f0f5;
}


.netv-menu a.active .l, .netv-menu a.active .r
{
  top: -58px;
}

.netv-menu a.active .t
{
  color: #ecedf3;
}
/* end MenuItem */

/* begin MenuSeparator */
.netv-nav .netv-menu-separator
{
  display: block;
  width: 1px;
  height: 29px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

/* begin Layout */
.netv-content-layout
{
  display: table;
  padding: 0;
  border: none;
  width: 974px;
  margin: auto;
}

.netv-content-layout .netv-content-layout
{
  width: auto;
  margin:0;
}

div.netv-content-layout div.netv-layout-cell, div.netv-content-layout div.netv-layout-cell div.netv-content-layout div.netv-layout-cell
{
   display: table-cell;
}

div.netv-layout-cell div.netv-layout-cell
{
   display: block;
}

div.netv-content-layout-row
{
  display: table-row; 
  margin-bottom: 7px;
}

.netv-content-layout
{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}

.netv-layout-cell, .netv-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.netv-vmenublock
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.netv-vmenublock-body
{
  position: relative;
  z-index: 1;
  padding: 5px;
}

.netv-vmenublock-tr, .netv-vmenublock-tl, .netv-vmenublock-br, .netv-vmenublock-bl, .netv-vmenublock-tc, .netv-vmenublock-bc,.netv-vmenublock-cr, .netv-vmenublock-cl
{
  position: absolute;
  z-index: -1;
}

.netv-vmenublock-tr, .netv-vmenublock-tl, .netv-vmenublock-br, .netv-vmenublock-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/borders/vmenublock_s.png');
}

.netv-vmenublock-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.netv-vmenublock-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.netv-vmenublock-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.netv-vmenublock-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.netv-vmenublock-tc, .netv-vmenublock-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/borders/vmenublock_h.png');
}

.netv-vmenublock-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.netv-vmenublock-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.netv-vmenublock-cr, .netv-vmenublock-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/borders/vmenublock_v.png');
}

.netv-vmenublock-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.netv-vmenublock-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.netv-vmenublock-cc
{
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #e7e6ef;
}

.netv-vmenublock
{
  /*margin: 7px;*/
}

/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */
.netv-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.netv-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.netv-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.netv-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.netv-vmenu, ul.netv-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

/* end VMenu */

/* begin VMenuItem */
ul.netv-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.netv-vmenu li.netv-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.netv-vmenu .netv-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.netv-vmenu a .r, ul.netv-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 90px;
  background-image: url('images/vmenuitem.png');
}

ul.netv-vmenu a .l
{
  left: 0;
  right: 7px;
}

ul.netv-vmenu a .r
{
  width: 1014px;
  right: 0;
  clip: rect(auto, auto, auto, 1007px);
}

ul.netv-vmenu a .t
{
  display: block;
  line-height: 30px;
  color: #111111;
  padding: 0 11px 0 21px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-left:0;
  margin-right:0;
}

ul.netv-vmenu a:hover .l, ul.netv-vmenu a:hover .r
{
  top: -30px;
}

ul.netv-vmenu a:hover .t
{
  color: #666666;
}

ul.netv-vmenu a.active .l, ul.netv-vmenu a.active .r
{
  top: -60px;
}

ul.netv-vmenu a.active .t
{
  color: #14141f;
}
/* end VMenuItem */

/* begin Box, Block */
.netv-block
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 19px;
  min-height: 19px;
  margin: 7px 0;
}

.netv-block-body
{
  position: relative;
  z-index: 1;
  padding: 8px;
}

.netv-block-tr, .netv-block-tl, .netv-block-br, .netv-block-bl, .netv-block-tc, .netv-block-bc,.netv-block-cr, .netv-block-cl
{
  position: absolute;
  z-index: -1;
}

.netv-block-tr, .netv-block-tl, .netv-block-br, .netv-block-bl
{
  width: 26px;
  height: 26px;
  background-image: url('images/borders/block_s.png');
}

.netv-block-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.netv-block-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.netv-block-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.netv-block-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.netv-block-tc, .netv-block-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('images/borders/block_h.png');
}

.netv-block-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.netv-block-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.netv-block-cr, .netv-block-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('images/borders/block_v.png');
}

.netv-block-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.netv-block-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.netv-block-cc
{
  position: absolute;
  z-index: -1;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #FFFFFF;
}

/* end Box, Block */

/* begin BlockHeader */
.netv-blockheader
{
  position: relative;
  z-index: 0;
  height: 37px;
  margin-bottom: 15px;
}

.netv-blockheader .t
{
  height: 37px;
  color: #555555;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  margin:0;
  padding: 0 11px 0 11px;
  white-space: nowrap;
  line-height: 37px;	
}

.netv-blockheader .l, .netv-blockheader .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 37px;
  background-image: url('images/blockheader.png');
}

.netv-blockheader .l
{
  left: 0;
  right: 5px;
}

.netv-blockheader .r
{
  width: 994px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end BlockHeader */

/* begin Box, BlockContent */
.netv-blockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.netv-blockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 10px;
  word-wrap: break-word;
}


.netv-blockcontent-body
{
  color: #0e0e16;
  font-size: 13px;
}

.netv-blockcontent-body a:link
{
  color: #1C5482;

}

.netv-blockcontent-body a:visited, .netv-blockcontent-body a.visited
{
  color: #111111;
  text-decoration: none;
}

.netv-blockcontent-body a:hover, .netv-blockcontent-body a.hover
{
  color: #BA4B1C;
  text-decoration: none;
}

.netv-blockcontent-body ul
{
  list-style-type: none;
  color: #2A2B1C;
  margin: 0;
  padding: 0;
}

.netv-blockcontent-body ul li
{
  line-height: 1.25em;
}


/* end Box, BlockContent */

/* begin Button */
.netv-button-wrapper .netv-button
{
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  text-decoration: none !important;
  color: #FFFFFF !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 33px;
  height: 33px;
  margin: 0;
  padding: 0 16px !important;
  overflow: visible;
  cursor: default;
  z-index: 0;
}

.netv-button img, .netv-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.netv-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .netv-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea, select
{
  vertical-align: middle;
  font-size: 13px;
}

.netv-block select 
{
    width:96%;
}

.netv-button-wrapper.hover .netv-button, .netv-button:hover
{
  color: #292438 !important;
  text-decoration: none !important;
}

.netv-button-wrapper.active .netv-button
{
  color: #ebecfa !important;
}

.netv-button-wrapper .l, .netv-button-wrapper .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 99px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.netv-button-wrapper .l
{
  left: 0;
  right: 10px;
}

.netv-button-wrapper .r
{
  width: 409px;
  right: 0;
  clip: rect(auto, auto, auto, 399px);
}

.netv-button-wrapper.hover .l, .netv-button-wrapper.hover .r
{
  top: -33px;
}

.netv-button-wrapper.active .l, .netv-button-wrapper.active .r
{
  top: -66px;
}

.netv-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.netv-post
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.netv-post-body
{
  position: relative;
  z-index: 1;
  padding: 16px;
}

.netv-post-tr, .netv-post-tl, .netv-post-br, .netv-post-bl, .netv-post-tc, .netv-post-bc,.netv-post-cr, .netv-post-cl
{
  position: absolute;
  z-index: -1;
}

.netv-post-tr, .netv-post-tl, .netv-post-br, .netv-post-bl
{
  width: 14px;
  height: 14px;
  background-image: url('images/borders/post_s.png');
}

.netv-post-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 7px, 7px, auto);
}

.netv-post-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 7px, 7px);
}

.netv-post-bl
{
  bottom: 0;
  left: 0;
  clip: rect(7px, 7px, auto, auto);
}

.netv-post-br
{
  bottom: 0;
  right: 0;
  clip: rect(7px, auto, auto, 7px);
}

.netv-post-tc, .netv-post-bc
{
  left: 7px;
  right: 7px;
  height: 14px;
  background-image: url('images/borders/post_h.png');
}

.netv-post-tc
{
  top: 0;
  clip: rect(auto, auto, 7px, auto);
}

.netv-post-bc
{
  bottom: 0;
  clip: rect(7px, auto, auto, auto);
}

.netv-post-cr, .netv-post-cl
{
  top: 7px;
  bottom: 7px;
  width: 14px;
  background-image: url('images/borders/post_v.png');
}

.netv-post-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 7px);
}

.netv-post-cl
{
  left: 0;
  clip: rect(auto, 7px, auto, auto);
}

.netv-post-cc
{
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background-color: #FFFFFF;
}

.netv-post
{
  margin: 0 0 10px 10px;
}

a img
{
  border: 0;
}

.netv-article img, img.netv-article
{
  margin: 7px;
}

.netv-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.netv-article table, table.netv-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
}

.netv-article table, table.netv-article .netv-article tr, .netv-article th, .netv-article td
{
  background-color: #ffffff;
}

.netv-article th, .netv-article td
{
  padding: 2px;
  border: solid 2px #999999;
  vertical-align: top;
  text-align: left;
}

.netv-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

 
.graph-bar-sold
{
  background-color: #FF2233;
  height: 20px;
  float: left;
}
         
.graph-bar-available
{
  background-color: #BBDD99;
  height: 20px;
  float: left;
}

.graph-bar-text
{
  margin-top: -1.2em;
  line-height: 1.2em;
  height: 1.2em
  border: 1px solid #a0a0a0;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.netv-postheader
{
  margin: 0.2em 0;
  padding: 0;
  font-size: 24px;
  color: #071622;
}

.netv-postheader a, .netv-postheader a:link, .netv-postheader a:visited, .netv-postheader a:hover
{
  font-size: 24px;
  margin: 0;
  color: #071622;
}

.netv-postheader img
{
  border: none;
  vertical-align: middle;
  margin: 0;
}
/* end PostHeaderIcon */

/* begin PostHeader */
.netv-postheader a:link
{
  text-align: left;
  color: #091B2A;
}

.netv-postheader a:visited, .netv-postheader a.visited
{

  color: #3c405d;
}

.netv-postheader a:hover, .netv-postheader a.hovered
{

  color: #03008f;
}
/* end PostHeader */

/* begin PostContent */
.netv-postcontent p
{
  margin: 0.5em 0;
}



.netv-postcontent
{
  margin: 0;
}
/* end PostContent */

/* begin PostBullets */
ol, ul
{
  color: #071622;
  margin: 1em 0 1em 2em;
  padding: 0;
  font-size: 13px;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

li
{
  margin: 0.2em 0;
  padding: 0;
}

ul
{
  /* list-style-type: none; */
}

ol
{
  list-style-position: inside;

}



/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote p,
.netv-postcontent blockquote p
{
  color: #0e0e16;

}

blockquote,
.netv-postcontent blockquote
{
  border: solid 1px #b9b8d1;
  margin: 10px 10px 10px 50px;
  padding: 5px 5px 5px 41px;
  background-color: #FFFFFF;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
}

/* end PostQuote */

/* begin Footer */
.netv-footer
{
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 974px;
  margin: 0 auto;
}

.netv-footer .netv-footer-inner
{
  height: 1%;
  position: relative;
  z-index: 0;
  padding: 20px;
  text-align: center;
}

.netv-footer .netv-footer-background
{
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url('images/footer.png');
  width: 974px;
  height: 150px;
  bottom: 0;
  left: 0;
}


.netv-rss-tag-icon
{
  position: relative;
  display: block;
  float: left;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  margin: 0 5px 0 0;
  height: 9px;
  width: 15px;
  cursor: default;
}


.netv-footer .netv-footer-text p
{
  margin: 0;
}

.netv-footer .netv-footer-text
{
  display: inline-block;
  color: #dddddd;

}

.netv-footer .netv-footer-text a:link
{
  text-decoration: none;
  color: #81B7E4;

}

.netv-footer .netv-footer-text a:visited
{
  text-decoration: none;
  color: #a4a2c3;

}

.netv-footer .netv-footer-text a:hover
{
  text-decoration: none;
  color: #BA4B1C;

}
/* end Footer */

/* begin PageFooter */
.netv-page-footer, .netv-page-footer a, .netv-page-footer a:link, .netv-page-footer a:visited, .netv-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #57A0DB;
}

.netv-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #afacc9;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.netv-content-layout .netv-sidebar1
{
  width: 25%;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */
.netv-content-layout .netv-content
{
  width: 75%;
}
.netv-content-layout .netv-content-wide
{
  width: 100%;
}
/* end LayoutCell, content */




.overview-table .netv-layout-cell
{
    width:33%;
}


.overview-table-inner 
{
    margin:10px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    text-align:left;
    vertical-align:top;
    padding:5px;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:5px;
    padding:5px;
    background-color:Transparent;
}

table .odd td, table .odd th
{
    background-color:#cccccc;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}

.error-message
{
    background-color: inherit;
    color: #ff0f0f;
}

.message_degrade
{
    background: #fff;
}

.mandatory
{
    color: #ff0000;
    background: inherit;
    margin-right: 5px;
}

.publishable
{
    color: #5850a5;
    background: inherit;
    margin-right: 5px;
}

.menu-header
{
    color: #297DC2; /* changed */
    font-weight: bold;
    padding: 7px;
    display:block;
	margin-top: 8px;
	margin-bottom: 5px;
}

.programmeTalkId {
      display:none;
}

#flash
{
    width:100%
}

#flash .message
{
    padding-top: 1em;
    padding-left: 50px;
    border: 1px solid #ccc;
    margin: 1em;
    background: #fffaaa url('/images/icons/emblem-note.png') no-repeat 10px 50%;
}

#flash .message-error
{
    background: #ff9999 url('/images/icons/dialog-error.png') no-repeat 10px 50%;
}

#flash .message-warning
{
    background: #ffcc88 url('/images/icons/dialog-warning.png') no-repeat 10px 50%;
}
