<h1>linux.conf.au 2008 Call For Presentations</h1>

<p>
linux.conf.au isn't just a Linux conference. It is a technical conference about Free Software, held annually in Australasia. We invite submissions on any Free Software related subject; from Linux and the BSDs to OpenOffice.org, from networking to audio-visual magic, from deep hacks to Creative Commons.</p>

<h2>Important dates</h2>

<ul>
<li>Submissions open: Friday, June 1 2007</li>
<li>Submission deadline: Friday, July 20, 2007</li>
<li>Email notifications from review committee: early September</li>
<li>Conference begins: Monday, January 28 2008 </li>
</ul>

<h2>Presentations being accepted</h2>

<p>We are accepting proposals for two different types of presentation: you can submit a proposal for a talk or a tutorial. If in doubt, you want to submit a talk proposal rather than a tutorial proposal.</p>

<p>
<img src="/pix/c4p-lca2008-300.png" width="300" height="190" align="left" alt="call 4 papers - now open" hspace="2" vspace="8"/>
Talks are the main part of the conference: a series of presentations on Free Software related subjects. This year there will be 70-90 presentations. Presenters will be given a 50 minute slot, which includes up to 10 minutes for questions.</p>

<p>The main programme also has around 10 tutorial slots. Tutorials are longer and more interactive presentations, with slots lasting for 110 minutes, giving the speaker time to interact with the audience. Proposals for tutorials should be clear about the level of expertise required of the audience.</p>

<p>Most presentations and tutorials will be technical in nature, but proposals for presentations on other aspects of Free Software and Free Culture, such as educational and cultural aspects are welcome.</p>

<h2>Mini-confs</h2>

<p>Mini-confs are full one or two day events. Mini conf organisers will be expected to organise additional presentations, tutorials and similar material filling six 50 minute slots per day. Mini-confs are generally organised around a particular technical topic, such as the kernel, or the MySQL database or Free Software gaming, or around a community, such as LinuxChix.</p>

<p>Mini-conf proposals are now being accepted. Proposals for individual mini-conf talks will be accepted by mini-conf organisers at a later date. Keep an eye on <a href="/mini-confs">http://linux.conf.au/mini-confs</a></p>

<h2>Potential topics</h2>

<p>Submissions on the following topics are welcome:</p>

<ul>
<li>Kernel and system topics such as filesystems and embedded devices</li>
<li>Networking topics such as peer to peer</li>
<li>Desktop topics such as office and productivity applications, mobile devices, peripherals, crypto &amp; security and viruses and other malware</li>
<li>Server topics such as clusters and other supercomputers, databases and grid computing</li>
<li>Systems administration topics such as maintaining large numbers of machines and disaster recovery</li>
<li>Programming topics such as toolkits and software engineering practices</li>
<li>Free Software and Free Culture topics, including licencing and Free and Open approaches outside software</li>
<li>Free Software usage topics, including home, IT, education, manufacturing, research and government usage. </li>
</ul>

<h2>Submission guidelines</h2>

<p>The key conference requirement is that your talk related to Free Software, either in general or to a specific project. If your talk is about a particular project or uses a particular tool, it must be available under an Open Source licence. Beyond that your submission will primarily be judged on the interest your proposal will hold for our audience; your general ability to present to our audience; and your specific expertise on the subject of your proposal.</p>

<p>linux.conf.au is a highly competitive conference; in 2007 only 25% of talk proposals were accepted. In order to increase your chances of acceptance, make sure your proposal demonstrates your particular expertise in the subject of your talk, together with an understanding of our audience. Attendees of linux.conf.au are largely technical people, most of whom are already involved in, or are running, one or more Free Software projects. The majority of accepted talks are pitched at an audience of near-peers. Promotional talks such as commercial advertisements and sales pitches are not appropriate for linux.conf.au.</p>

<p>For more information on making a good proposal to linux.conf.au, please see <a href="http://advogato.org/article/549.html">How to get a conference abstract accepted</a> and <a href="http://puzzling.org/logs/thoughts/2006/October/9/lca-reviews">Getting a talk into linux.conf.au</a>, both by former review committee members.</p>

<h2>How to submit</h2>

<p>In order to submit to linux.conf.au, please go to <a href="http://linux.conf.au/presentations">/presentations</a>, review the <a href="/presentations/speaker_FAQ">Speaker FAQ</a> and select &quot;<a href="/presentations/submit_a_presentation">Submit a Presentation</a>&quot; from the menu above.</p>
<p>You will need to <a href="/account/new">create an account</a> on the website, which requires:</p>

<ul>
<li>Your full name</li>
<li>Your email address </li>
</ul>

<p>Presentation proposals will ask for:</p>

<ul>
<li>a presentation title</li>
<li>the type of your presentation: talk 50 mins or tutorial 110 mins</li>
<li>an abstract describing your presentation, up to 500 words</li>
<li>information about the project you're talking about, where applicable</li>
<li>whether you need accommodation or travel assistance</li>
<li>your homepage</li>
<li>a speaker biography of yourself</li>
<li>a description of relevant experience </li>
</ul>

<p>You may also submit a short video pitching your presentation.</p>

<p>If you need more help, check the <a href="/presentations/sample_form">Sample submission form</a>.</p>

<p>No papers or written material related to talks need to be submitted formally at any time. If you wish to provide handouts or notes to attendees, these should be distributed directly, and can be made available beforehand on your personal webpage or the conference wiki.</p>

<h2>Notifications</h2>

<p>We will email you in early September to tell you whether your proposal was accepted or not. Rejected proposals can be re-submitted to miniconference organisers or re-worked as lightning talks or BOFs.</p>

<h2>About linux.conf.au</h2>

<p>linux.conf.au (<a href="http://linux.conf.au/">http://linux.conf.au/</a>) is Australia's annual technical conference on Free Software. Fun, informal and seriously technical, linux.conf.au draws together Free and Open Source Software developers from across the world. It will be held from January 28th to February 2nd, 2008 at The University of Melbourne.</p>

<h2>About Linux Australia</h2>

<p>Linux Australia (<a href="http://www.linux.org.au/">http://www.linux.org.au/</a>) is the peak body for Linux User Groups (LUGs) around Australia, and as such represents approximately 5000 Australian Linux users and developers. Linux Australia facilitates the organisation of this international Free Software conference in a different Australasian city each year. </p>
