<h1 class="pop">Frequently Asked Questions</h1>
<p>These questions are designed to assist you to decide whether or
not to submit a proposal to speak at Linux.conf.au 2008. We get
hundreds of submissions each year, so you need to know your topic
really well before submitting your proposal. If you record yourself
presenting your talk, you can get a good idea of how long you'll
need for the presentation. Also, by showing it to friends or
colleagues, you can get good feedback about improvements that you
may be able to make.</p>

<h2>Submissions</h2>

<h3>Q. What information do I need to provide with my
submission?</h3>
<p>A: Your submission should contain:</p>
<ul>
<li>name</li>
<li>abstract</li>
<li>brief biography</li>
<li>project website</li>
<li>A short pitch to video - post on youtube or similar, and
provide a link.</li>
</ul>
<p>Make the name of your talk meaningful - this is what people will
see when they're deciding which session to attend; If you want an
audience, make it count!</p>
<p>Your abstract should outline what you will talk about. Aim for a
paragraph which describes your topic, and the key points you will
discuss. It doesn't have to be identical to what you will present,
but it should be closely related. It will appear on the conference
website and in the booklet. If you are successful and invited to
speak at linux.conf.au, you will be given an opportunity to edit
the abstract before it is published.</p>
<p>Your biography should contain background information about
yourself and your experience regarding your presentation topic. It
will also appear in the conference booklet.</p>

<h3>Q: Who/What is my target audience?</h3>
<p>A: The answer to this question really depends on your topic, and
how you wish to deliver it. Linux.conf.au attendees range from
novices to people with decades of experience in a computing
discipline. Presentations can be highly technical, introductory,
non-technical: it's up to you, as long as the content is relevant
to Linux.conf.au.</p>

<h3>Q: What presentation structures are available to me?</h3>
<p>A: The linux.conf.au program includes talks or presentations,
tutorials, workshops, lightning talks and Birds of a Feather
sessions.</p>

<h3>Q: How do the main presentations work?</h3>
<p>A: In a nutshell, you stand in front of an audience with your
accompanying material and talk for your alloted time. It is highly
recommended that you allow some time at the end of your
presentation for questions.</p>

<h3>Q: How do the tutorials work?</h3>
<p>A:&nbsp;Should be half-day or full-day presentations in-depth
and have extensive notes.</p>

<h3>Q: How do the BOFs work?</h3>
<p>A: The BOF convenor (generally the person who first writes the
topic name on the BOF board) has a set of notes of topics for
discussion and moderates the discussion about them. The convenor
does not have to be an expert in the topic, but they need to have a
general overview of the topic so that they can steer the discussion
in the right direction.</p>

<h3>Q: How do the lightning talks work?</h3>
<p>A: One option is to write the talk notes in a Wiki that is
provided (one page per talk). A presentation laptop can be provided
to display the wiki pages on the screen for the presentation.</p>

<h3>Q: Can I use my own computer?</h3>
<p>A: It is possible to use your own laptop, but you must test it
first as time taken fiddling with the display will be deducted from
the time allotted.</p>

<h3>Q: I don't have much public speaking experience...</h3>
<p>A: If you don't have any public speaking experience, or don't
really feel comfortable giving talks to a large number of people,
start off slowly and give a talk at your local LUG meeting. You
could also check out organisations like Toastmasters (located
worldwide). At LCA, consider giving a talk at a Miniconf, as the
audiences are smaller and the atmosphere is less formal.
Alternatively, try presenting a lightning talk.</p>

<h3>Q: What technology will be available to me</h3>
<p>A: Microphone, data projector (1024x768 min). We hope to have
whiteboards and document cameras available as well. Internet access
should be available as well via 802.11b/g. Any other requirements
(space, setup time) should be listed in your submission</p>

<h3>Q: What software must I use for my presentation?</h3>
<p>A: Something that works. Just keep in mind the output needs to
be readable throughout the theatre and that people won't be happy
if the presentation software keeps crashing.</p>

<h3>Q: What can I show on my presentation slides?</h3>
<p>A: Not semi-naked women... use /dev/brain. Err on the side of
caution. If it might not be appropriate, don't show it.</p>

<h3>Q: How do the audience questions work?</h3>
<p>A: Usually, questions are asked at the end of the presentation
so put some time aside for them. Other presentations work equally
well when questions are asked during the talk, however this can be
distracting to some attendees and to some speakers. If you prefer
to answer questions at the end of your talk, feel free to tell your
audience that you will only take questions at the end of the
presentation.</p>
<p>Please try to repeat any questions you are asked, into the
microphone, before answering them. Chances are quite a few people
won't have heard what was asked.</p>
<p>We recommended that you make yourself available to conference
delegates during the week, as some may wish to talk to you about
your topic.</p>

<h3>Q: Do I need to submit a paper</h3>
<p>A: No. You need to submit an abstract and (if it's accepted)
give the talk or tutorial.</p>

<h2>Travel and Accommodation</h2>

<h3>Q: Can you pay for my airfare? Will my accommodation be paid
for?</h3>
<p>A: We have a limited amount of funding set aside for travel and
accommodation assistance. Please indicate whether you need travel
assistance on the submission form. Keep in mind this might mean
your paper is rejected, as we don't have enough funding for
everyone. So if you can get your employer to cover your costs, or
you can afford to pay your own travel and accommodation, don't ask
for travel assistance.</p>

<h3>Q: Do I have to pay the conference registration fee if I'm
giving a presentation?</h3>
<p>A: This depends on the type of sessions.</p>
<ul>
<li>Main conference, tutorial and keynote speakers attend for free
for the whole conference.</li>
<li>Miniconf and lightning talk presenters must pay to attend.</li>
</ul>

<h3>Q: As a speaker, do I get any discounts?</h3>
<p>A. Yes. If you are invited to speak at linux.conf.au you do not
have to pay conference registration fees. If you are invited to
speak at a mini-conf you are still expected to register for the
conference. Mini-confs are community organised streams, and talks
are not selected by the linux.conf.au paper selection
committee.</p>

<h3>Q: Will I receive any payment?</h3>
<p>A. No. linux.conf.au does not pay speakers' fees.</p>

<h3>Q: What are the visa requirements for entering Australia?</h3>
<p>A: At the time of writing (May 2007), the Australian Government
Department of Immigration and Citizenship has the following rules
in place for tourists and business people&nbsp;:</p>
<p><b>Short-stay business visas</b> (less than three months): The
Business (Short Stay) visa (subclass 456) allows the bona fide
business person to make a visit to Australia of up to three months
to conduct business, including attending a conference. If you wish
to stay longer than three months, you must obtain a long-term
business visa.</p>
<p>In many countries, you can obtain a Business (Short Stay) visa
at the same time you purchase an airline ticket. Ask for a Business
Electronic Travel Authority (ETA) for Australia. Alternatively, you
can apply for a short-stay visa on the <a title=
"http://www.eta.immi.gov.au" href="http://www.eta.immi.gov.au/"
rel="nofollow">http://www.eta.immi.gov.au</a></p>
<p><b>Tourists</b> (less than three months): For tourists, you must
apply for a short-stay visa for up to 3 months. If you wish to stay
for longer than three months, you must obtain a long-term visa, for
stays between 3 and 6 months.</p>
<p><a href="http://www.immi.gov.au/skilled/business/business-visit-visa-options.htm">http://www.immi.gov.au/skilled/business/business-visit-visa-options.htm</a>
<a href="http://www.immi.gov.au/allforms/visiting_business_short.htm#short">http://www.immi.gov.au/allforms/visiting_business_short.htm#short</a></p>

<h3>Q: How do I get to the venue/Melbourne CBD from the airport?</h3>
<p>A: The committee will arrange transport for speakers from the
airport to the venue. This will be organised with you closer to the
conf.</p>
<p>Otherwise, you can catch a taxi (around AU$40 one way), the
skybus (AU$15 one way, $24 return), or an ordinary bus.</p>
<p>More information can be found at&nbsp;<a href=
"http://wiki.mel8ourne.org/SpeakerFAQ">http://wiki.mel8ourne.org/SpeakerFAQ</a></p>
