<h1 class="pop">Media Coverage and Press Information</h1>

<p>linux.conf.au is the major community based Free and Open Source event on the Australian yearly calendar. As such it is a good opportunity for 
the media to speak to key players in the Open Source Industry. The Melbourne team looks forward to working with the Australian and 
International tech press to help communicate our FOSS news with a wider IT audience in the lead up to linux.conf.au 2008.</p>

<p>Limited number of press passes will also be available at the conference, for those who intend to cover it in depth.</p>

<p>To contact the team email us at <script type="text/javascript" language="javascript">
<!--
ML="@uhpa.sg\"l: f=>m8/<retino";
MI="B4;2CD<=8?4F9EH:3CD660?D9@H1CGD5HC78>3CD660?D9@H1CGD5HC7BA4>";
OT="";
for(j=0;j<MI.length;j++){
OT+=ML.charAt(MI.charCodeAt(j)-48);
}document.write(OT);
// --></script>.
</p>

<h2>linux.conf.au 2008 Melbourne</h2>
<ul>
<li><a href="http://www.linuxworld.com.au/index.php/id;1270924940;fp;16;fpid;0">And the linux.conf.au winner is: Melbourne!</a> - Mitchell  Bingemann, LinuxWorld</li>
<li><a href="http://zdnet.com.au/news/software/soa/Melbourne_gets_linux_conf_au_guernsey/0,2000061733,39265753,00.htm"> Melbourne gets linux.conf.au guernsey</a> - Renai LeMay, ZDNet Australia</li>
<li><a href="http://www.itwire.com.au/content/view/4901/53/"> Melbourne and Hobart compete for linux.conf.au 2008</a> - Stan Beer, IT  Wire</li>
<li><a href="http://www.linuxworld.com.au/index.php/id;631795717;fp;2;fpid;1"> Melbourne and Hobart in the running for linux.conf.au 2008</a> -  Mitchell Bingemann, LinuxWorld</li>
<li><a href="http://www.linuxworld.com.au/index.php/id;1791263394;fp;2;fpid;1">Melbourne raises hand for linux.conf.au 2008</a> - Howard Dahdah,  LinuxWorld</li>
<li><a href="http://www.zdnet.com.au/news/software/soa/Linux_conference_domain_faces_uncertain_future/0,2000061733,39266489,00.htm?feed=rss">Linux  Conference Domain Faces Uncertain Future</a> - Angus Kidman, ZDNet Australia</li>
</ul>

<h2>linux.conf.au 2007 Sydney</h2>
<ul>
<li><a href="http://www.computerworld.com.au/index.php?id=88823458">Operating system education gets $100K boost</a> - Rodney Gedda - Computerworld </li>
<li><a href="http://www.computerworld.com.au/index.php/id;1942598204;fp;4;fpid;1968336438">Tanenbaum outlines his vision for a grandma-proof OS</a> - Howard Dahdah- Computerworld</li>
<li><a href="http://www.itwire.com.au/content/view/8527/1090/">Talking Linux in Sydney</a> - Sam Varghese - IT Wire</li>
<li><a href="http://zdnet.com.au/news/software/soa/Conference_encourages_Linux_in_the_bathroom/0,130061733,339272966,00.htm?ref=search">Conference encourages Linux in the bathroom</a> - Munir Kotadia - ZDNet</li>
<li><a href="http://www.computerworld.com.au/index.php/id;950557059;fp;4;fpid;1968336438">Carsten Haitzler: Rasterman on the path to Enlightenment</a> - Liz Tay - Computerworld </li>
<li><a href="http://www.linuxworld.com.au/index.php/id;1992162566">Matt Garrett: Ubuntu guru on power management hacks</a> - Liz Tay - Computerworld </li>
<li><a href="http://www.computerworld.com.au/index.php/id;390929563;fp;4194304;fpid;1">Kathy Sierra: A brain that thinks about thinking</a> - Liz Tay - Computerworld </li>
<li><a href="http://www.computerworld.com.au/index.php/id;822430498;fp;4194304;fpid;1">Jim Gettys: One Laptop Per Child readies 'Sugar' interface </a> - China Martens  - Computerworld </li>
<li><a href="http://www.computerworld.com.au/index.php?id=1730868397">linux.conf.au organisers tweak focus as final keynoter announced</a> - Liz Tay - Computerworld </li>
<li><a href="http://www.computerworld.com.au/index.php/id;925218285;fp;16;fpid;1">Andy Tanenbaum: Operating systems' Mr Reliable</a> - Howard DahDah - Computerworld </li>
<li><a href="http://www.computerworld.com.au/index.php/id;1775295474;fp;4;fpid;1968336438">Chris Blizzard: linux.conf.au awaits as Blizzard hits Sydney this summer </a> - Howard DahDah - Computerworld </li>
<li><a href="http://builderau.com.au/news/soa/Women_flock_to_Linux_talkfest/0,339028227,339272778,00.htm">Women flock to Linux talkfest</a> - Chris Duckett  - Builder Au </li>
<li><a href="http://lxer.com/module/newswire/view/73298/index.html">linux.conf.au 2007 Programme and Registrations Open!</a> - Announcement </li>
<li><a href="http://lists.linux.org.au/archives/lca-announce/2006-September/msg00001.html">New format for Miniconfs announced</a> - Press Release </li>
<li><a href="http://www.linuxpr.com/releases/9065.html">New format, more miniconfs for linux.conf.au 2007</a> - Press Release </li>
<li><a href="http://lxer.com/module/newswire/view/66564/index.html">CFP nearly closed</a> - LXer article </li>
</ul>

