<h1 class="pop">Sponsorship Packages</h1>
<p>The following packages are available.<br />
<a href="/contact">Contact the MEL8OURNE team for a detailed prospectus.</a></p>

<h2>Emperor Penguin</h2>
<p>This premium tier linux.conf.au sponsorship package has 
traditionally been reserved for one or two major supporters of the 
free and open source software community. It receives the most 
opportunity for brand exposure, and participation in key conference 
social events.</p>

<h2>King Penguin</h2>
<p>The King Penguin Sponsorship package is available for 
organisations who wish to make a significant contribution to the 
linux.conf.au experience.</p>

<h2>Royal Penguin</h2>
<p>The Royal penguin level has historically been one of the most popular 
options for organisations wishing to make a major contribution to the 
conference.</p>

<h2>Fairy Penguin</h2>
<p>The littlest penguin is the figurehead for our 'supporter of LCA' 
sponsorship package.</p>

<h3>All packages include:</h3>
<ul>
 <li>Inserts in the conference bag.</li>
 <li>Company logo and link on the linux.conf.au sponsors web page</li>
 <li>Company logo and blurb in the printed conference booklet. Logo size 
and description length to vary according to sponsorship level. </li>
 <li>Table at Open Day to inform delegates and visitors about your 
company, product or project.</li>
</ul>

<h3>Delegates Program</h3>
<p>There are some great Free Software developers in the world 
without the means to attend the world's greatest Free Software 
conference. With the assistance of our sponsors we'd like to invite one 
established, and one emerging hacker from every continent, and every 
Australian state and territory.</p>

<p>The invitations will be issued to people nominated by their local 
linux user group.</p>

<h3>Extras</h3>
<p>The following items are being offered as exclusive co-branding 
opportunities. By sponsoring one of these conference essentials, your 
support of linux.conf.au will be visible and enduring. Pricing 
negotiable depending on value and quality of item.</p>
<ul>
 <li><strong>Bag:</strong> MEL8OURNE hopes to provide all speakers and 
delegates with a durable, useful, well made bag that will last for many 
years and carry the LCA2008 branding in conjunction with your logo. </li>
 <li><strong>Lanyard:</strong> During the conference this is 
one of the smallest, but most visible places to show your support 
for the international FOSS community. Your logo and slogan will 
appear in conjunction with linux.conf.au 2008 on a quality lanyard.</li>
 <li><strong>Gadgets:</strong> USB keys, wifi sniffers, retractable CAT5 
etc - everyone loves a geek gadget. Put your brand in their hands.</li>
 <li><strong>Speaker Gifts:</strong> The MEL8OURNE team have a few 
secret ideas for how to thank our speakers. This exclusive item will 
signal our appreciation of some of the most influential people in the 
open source community</li>
 <li><strong>Party:</strong> As the conference comes to it's 
conclusion, the party is a relaxed and informal setting for the 
entire conference community to wind down at the end of the week.</li>
</ul>
