	html, body
	{
		margin: 0;
		padding: 0;
		border: 0;
	}
	
	body
	{
		background-image: url(images/body_bg2.png);
		background-repeat: repeat-x;
		margin: 0;
	}
	
	
	fieldset
	{
		padding: 0;
		margin: 40px;
		border-left: 0;
		border-right: 0;
		background-color: #ffffff;
		background-image: url(images/fieldset_bg.png);
		background-repeat: repeat-x;
		background-position: bottom;
	}
		
	fieldset p
	{
		background-color: transparent;	
	}
	
	fieldset h1, fieldset h2, fieldset h3, fieldset h4, fieldset th, fieldset dt
	{
		background-color: transparent;
	}
	
	.note, .note ul
	{
		font-size: small;
	}
	.content
	{
		background-image: url(images/content_bg.png);
		background-repeat: repeat-x;
		background-color: transparent;
		height: 100%;
		text-align: left;
		width: 90%;
		margin-left: 5%;
		padding-bottom: 100px;
		min-height: 400px;
	}
	
	.banner
	{
		background-image: url(images/banner.png);
		background-position: center 106px;
		background-repeat: repeat-x;
		text-align: center;
		padding: 0;
		margin: 0;
		border: 0;
	}
	
	.banner img
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.banner .mountain
	{
		position: absolute;
		right: 5%;
		top: 0;
	}
	
	.banner .mascot
	{
		position: absolute;
		left: 5%;
		top: 0;
	}
	
	.banner .lca
	{
		position: relative;
	}
	
	.menu
	{
		background-image: url(images/menu_shadow.png);
		background-repeat: repeat-x;
		background-position: bottom;
		font-size: 0.75em;
		padding-top: 5px;
		padding-bottom: 8px;
	}
	
	.main_menu
	{
		background-color: #827ebb;
		background-image: url(images/menu_bg.png);
		background-repeat: repeat-x;
		display: block;
		margin: 0;
		padding: 2px 0;
		text-align: center;
	}
	
	.sub_menu
	{
		margin: 0;
		display: block;
		padding: 2px 0 2px 0;
		text-align: center;
		background-color: #ffffff;
	}
	
	.main_menu li, .sub_menu li
	{
		display: inline;
		padding-left: 1em;
		padding-right: 1em;
		background:transparent;
		font-family: "Arial", sans-serif;
		letter-spacing: 0.1em;
	}
	
	.main_menu li a
	{
		padding-top: 3px;
		color: #cccccc;
		background-color: inherit;
	}
	
	.main_menu li a:hover, .main_menu li .now /*.main_menu li span*/
	{
		color: #ffffff;
		background-color: inherit;
		background-image: url(images/menu_arrow.png);
		background-position: center top;
		background-repeat: no-repeat;
		text-decoration: none;
	}
	.main_menu li .now /*.main_menu li span*/
	{
		font-weight: bold;
	}
	
	.sub_menu li .now /*.sub_menu li span*/
	{
		color: #3030ff;
		background: inherit;
		font-weight: bold;
	}
	
	.contents
	{
		float: right;
		margin-right: 40px;
		font-size: smaller;
		text-align: right;
	}
	
	.contents h3
	{
		padding-right: 0px;
	}
	
	.contents ul
	{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	
	.contents ul li
	{
		padding-right: 20px;
		background-image: url(images/bullet.png);
		background-position: right center;
		background-repeat: no-repeat;
	}


	h1, h2, h3, h4, th, dt
	{
		color: #5850a5;
		background-color: inherit;
	}
	
	h1, h2, h3, h4, th, dt
	{
		/*clear: right;*/
		font-family: "Arial", sans-serif;
		font-style: oblique;
		padding-left: 60px;
		padding-right: 40px;
		margin-bottom: 0;
		/*margin-top: 2em;*/
		margin-top: 20pt;
	}

	p
	{
		background-color: inherit;
		color: #303030;
	}
	
	p, .error-message
	{
		text-align: justify;
		padding-left: 60px;
		padding-right: 40px;
	}
	
	b
	{
		background-color: inherit;
		color: #505050;
	}

	a, h1 a:hover
	{
		text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: underline;
	}
	
	dl
	{
		margin-left: 60px;
	}
	
	dt
	{
		padding-left: 0;
	}
	
	ul
	{
		margin-left: 40px;
		list-style-type: none;
	}
	
	ol
	{
		margin-left: 40px;
	}

	ul li, ol li
	{
		margin: 0;
		padding: 0;
	}
	
	ul li
	{
		padding-left: 20px;
		background-image: url(images/bullet.png);
		background-position: left center;
		background-repeat: no-repeat;	
	}
	
	table
	{
		margin-left: 40px;
		margin-right: 40px;
		border: 2px solid #d5e0ff;
		border-spacing: 0 1px;
		background-color: #5850a5;
		font-size: 0.75em;
	}
	
	td
	{
		border-bottom: 2px solid #dfdfff;
		padding: 0.5em 1em 0.5em 1em;
		background-color: #ffffff;
	}
	
	thead th
	{
		border-bottom: 1px solid #afafff;
		padding: 0 1em 0 1em;
		color: #ffffff;
		background-color: inherit;
	}
	
	tbody th
	{
		text-align: center;
		background-color: #ffffff;
		padding: 0 1em 0 1em;
		border-bottom: 2px solid #dfdfff;
		vertical-align: middle;
	}
	
	table .empty
	{
	}

	table .odd td, table .odd th
	{
		background-color: #f5f5ff;
	}
	
	em
	{
		font-style: normal;
		font-weight: bold;
		background-color: inherit;
		color: #505050;
	}
	
	.footer
	{
		clear: both;
		margin-bottom: 10px;
		background-image: url(images/footer_bg.png);
		background-repeat: repeat-x;
		background-position: bottom;
	}
	.photos
	{
		text-align: center;
	}
	
	.photos img
	{
		padding: 0 10px 0 10px;
	}
	
	.copyright
	{
		color: #ffffff;
		background-color: inherit;
		background-image: url(images/footer.png);
		background-repeat: repeat-x;
		background-position: top center;
		padding-top: 3px;
		height: 50px;
		width: 90%;
		margin-left: 5%;
		text-align: center;
		font-weight: bold;
		font-size: smaller;
	}
	
	.copyright a
	{
		background-color: inherit;
		color: #cfcfff;
	}
	
	.sponsors
	{
		padding-top: 20px;
		text-align: center;
		clear: both;
	}
	
	a img
	{
		border: 0;
	}
	
	.error-message
	{
		background-color: inherit;
		color: #ff0f0f;
	}

	.error
	{
		border-color: #ff0000;
	}
	
	.notice-box
	{
		padding: 1em;
		float: right;
		text-align: center;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 20px;
		margin-right: 40px;
		background-color: #ffffff;
	}
	
	.graph-bar
	{
		background-color: #efefff;
		line-height: 1.2em;
		height: 1.2em;
	}
	
	.graph-bar-text
	{
		margin-top: -1.2em;
		line-height: 1.2em;
		height: 1.2em;
		border: 1px solid #a0a0a0;
	}

	.mandatory
	{
		color: #ff0000;
		background: inherit;
	}

	.publishable
	{
		color: #5850a5;
		background: inherit;
	}

	.submitted
	{
		font-size: small;
		color: #888;
		margin: 0;
	}

	blockquote 
	{
		background-color:#D3DEFF;
		background-image:url(images/blockquote_bg.png);
		background-position:center top;
		background-repeat:repeat-x;
		border:2px solid #D5E0FF;
		color:#505050;
		display:block;
		font-style:italic;
		margin:20px 80px 0pt;
		padding:10px 20px 10px 20px;
		text-align:justify;
		width:50%;
	}

	blockquote:before
	{
		margin-left: -50px;
		width: 60px;
		height: 40px;
		display: block;
		content: url(images/quote.png);
		margin-bottom: -40px;
	}

	blockquote p
	{
		background-color: transparent;
		padding: 0 0 10px 0;
		margin: 0;
	}
	
	blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote th, blockquote dt
	{
		background-color: transparent;
	}
	
	h1 a, h2 a, h3 a, h4 a, th a, dt a
	{
		color: #5850a5;	
	}
	
	.news_banner
	{
		height: 115px;
		background-image: url(images/news_banner_back.png);
		text-align: center;
	}
	
	.news_banner_left
	{
		position: absolute;
		left: 5%;
		height: 115px;
		padding-left: 15%;
		background-image: url(images/news_banner_left.png);
		background-repeat: no-repeat;
	}
	
	.news_banner_right
	{
		position: absolute;
		right: 5%;
		height: 115px;
		padding-right: 15%;
		background-image: url(images/news_banner_right.png);
		background-repeat: no-repeat;
		background-position: top right;

	}

	.home_content
	{

	}

	.home_news
	{
		float: right;
		padding-right: 20px;
		padding-left: 20px;
	}


	.news_hero_items
	{
		position: absolute;
		margin-left: 0;
	}
	
	.news_hero_items li
	{
		background-image: none;
		padding: 0;
	}

	.news_page_text_heading
	{
		margin-top: 20px;
		padding: 0;
		text-align: left;
		margin-left: 270px;
	}

	.news_item_list_heading
	{
		margin-top: 20px;
		padding: 0;
		text-align: left;
	}
	
	.news_item_list
	{
		margin-top: 16px;
		background-color: transparent;
		margin-left: 0;
		padding: 0;
	}
	
	.news_item_list, .news_item_list_heading
	{
		margin-bottom: 0;
		width: 200px;
		text-align: right;
	}
	
	.news_item_list li
	{
		background-color: inherit;
		color: #505050;
		overflow: auto;
		background-image: none;
		padding-left: 0;
		padding-bottom: 0.5em;
	}
	
	.news_item_list li span
	{
		font-size: smaller;
		font-style: italic;
	}

	.news_page_text_heading
	{
	}
	.news_page_text
	{
		margin-left: 210px;
		margin-right: 210px;
		text-align: justify;
	}
	
	.news_page_text_list
	{
		float: right;
	}
	
	.more_link
	{
		font-size: smaller;
		margin-bottom: 1em;
	}
	
	.heightfix
	{
		float: right;
		height: 600px;
	}
	
	.external
	{
		padding-right: 16px;
		background-image: url(images/extlink2.png);
		background-repeat: no-repeat;
		background-position: right center;
	}

	.feedicon
	{
		padding-left: 5px;
	}

	.talk_title
	{
		padding-left:0;
		padding-right:0;
	}

	.programme_room_header
	{
		border-bottom: none;
	}

	.empty_cell
	{
		background: white;
	}
