/* layout */

body {
	background: url("/greydient.png") top left repeat-x;
	margin: 0;
	padding: 0;
}

#masthead h1 {
	margin: 20px;
	padding: 0;
}

#footer {
	text-align: center;
}

/* generic */

a img {
	border: 0;
}

hr {
	clear: both;
	display: none;
}

/* forms */
label {
	font-weight: bold;
}

input, textarea {
	border: 1px solid #cccccc;
}

.fieldRequired {
	color: #cccccc;
}
