/** Layout components **/

BODY {
  padding: 0;
  margin: 0;
}

#sidebar-container {
  float: right;
  width: 267px; /* where masthead_bottom joins masthead_right.png */
}

#content-container {
  margin-right: 267px;
}

#footer {
  clear:both;
  margin-top: 20px;
}

/** pretty design bits follow **/

BODY {
  font-family: Bitstream Vera Sans, Sans, sans-serif;
  font-size: 70%;
}

/* masthead */

#masthead {
  height: 102px;
  background: url('masthead_right.png') top right no-repeat;
}

#masthead #title {
  height: 102px;
  margin-right: 274px; /* width of mastheadright.png */
  background: url(masthead_top.png) repeat-x;

  color: #FFF;
}

#masthead #title H1 {
  margin: 0;
/*  padding: 0;*/

  font-family: Bitstream Vera Sans Mono, monospace;
  font-size: 30pt;
}

#masthead #title H2 { 
  margin: 0;
/*
  padding: 0;
*/
  font-size: 12pt;
}

/* logo */

#logo {
  position: absolute;
  right: 10px;
  top: -5px;
}

/* footer */

#footer {
  float: right;
  font-size: 80%;

  border: 1px solid #ccc;
}

#footer HR {
  display: none;
}

/* menu bar */

#menubar {
  height: 30px;
  background: url('masthead_mid.png') no-repeat top right;
}

#menubar #menu {
  height: 30px;
  background: url('masthead_bottom.png') repeat-x;
  margin-right: 81px;

  color: #FFF;
  /*font-weight: bold;*/
}

#menubar #menu UL {
  list-style: none;
  margin: 0;
  padding-top: 5px;
}

#menubar #menu UL LI {
    display: inline;
}

#menubar #menu UL LI:after {
  content: " | ";
}

#menubar #menu UL LI.last:after {
  content: "";
}

#menubar #menu A {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

#menubar #menu A:hover {
  text-decoration: underline;
}

/* sidebar */

.sidebarbox {
  margin: 10px;
  margin-top: 70px;

  border: none;

  padding: 0;
  color: white;
  background: url(side-right.png) repeat-y right black;
}

.sidebarcontent {
  padding: 20px;
  min-height: 300px;
  text-align: center;
}

#sidebarRN {
  background: url(rn-left.png) no-repeat left #b0df29;
  height: 26px;
  padding: 0px;
}

#sidebarRN p {
  color: black;
  background: url(rn-right.png) no-repeat right;
  line-height: 26px;
}

#sidebarRN a {
  color: black;
}

.sidebarcontent ul {
  list-style: none;
  text-align: right;
  padding: 0px;
  margin-top: 25px;
}

.sidebarcontent li p {
  font-style: italic;
}

.sidebarcontent a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.sidebarcontent a:hover {
  text-decoration: underline;
}

#sidebarboxTR, #sidebarboxBR {
  float: right;
}

#sidebarboxTR {
  background: url(side-topright.png) no-repeat top right;
}

#sidebarboxTL {
  background: url(side-topleft.png) no-repeat top left;
}

#sidebarboxBR {
  background: url(side-bottomright.png) no-repeat bottom right;
}

#sidebarboxBL {
  background: url(side-bottomleft.png) no-repeat bottom left;
}

#sidebarboxB {
  background: url(side-bottom.png) repeat-x bottom black;
}

/* content body */

.contentbox {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: url(box-left.png) left repeat-y;
}

.contentbox H2 {
  text-align: right;
  font-size: 200%;
  margin-top: 0;
  margin-right: 1em;
}

.contentboxR, .contentboxC {
  float: left;
}

.contentboxR {
  width: 100%;
  margin: 0;
  padding: 0;
}

.contentboxC {
  height: 25px;
  width: 25px;
}

#contentboxTL {
  background: url(box-topleft.png) top left no-repeat;
}

#contentboxTR {
  float: right;
  background: url(box-topright.png) top right no-repeat;
}

#contentboxT {
  background: url(box-top.png) repeat-x;
}

#contentboxBL {
  background: url(box-bottomleft.png) bottom left no-repeat;
}

#contentboxBR {
  float: right;
  background: url(box-bottomright.png) bottom right no-repeat;
}

#contentboxB {
  background: url(box-bottom.png) bottom repeat-x;
}

#contentboxM {
  background: url(box-left.png) left repeat-y;
}

#contentboxMR {
  background: url(box-right.png) right repeat-y;
}

#contentboxMR * {
  margin-bottom: 0;
}

/* form */

FORM LABEL {
  font-weight: bold;
}

FORM SPAN.fielddesc {
  font-style: italic;
  font-size: 80%;
}

FORM SPAN.mandatory {
  color: red;
}

/* front page */

BLOCKQUOTE {
  font-style: italic;
  font-size: 150%;
  font-family: Georgia, Times New Roman, Times, serif;
  background: url('bigquote_left.gif') no-repeat;
  background-position: top left;
  padding-left: 20px;
  text-align: justify;
  margin: 0 25px 0 15px;
}

BLOCKQUOTE P.endquote {
  background: url('bigquote_right.gif') no-repeat;
  background-position: bottom right;
  padding-right: 20px;
}

/* generic */

SPAN.highlight {
  color: red;
}
