BODY {
  background-color: #89F;
}

#menu {
  border: 1px solid #000;
}

#logo {
  border: 0px;
  padding: 0px;
  float: left;
}

#footer {
  font-size: 80%;
}

FORM LABEL {
  font-weight: bold;
}

FORM SPAN.fielddesc {
  font-style: italic;
  font-size: 80%;
}

FORM SPAN.mandatory {
  color: red;
}