<h2>Important information</h2>

<h3>Part of linux.conf.au</h3>

<p>Mini-confs run as part of the linux.conf.au conference programme. Thus, the
mini-conf will have to run to suit the venue and timetable provided by the
linux.conf.au organisers. We particularly ask that all mini-confs observe the
timetable provided by organisers, so that attendees can move between
mini-confs.</p>

<h3>Mini-conf Mailing List</h3>

<p>There is a mailing list for mini-conf organisers that has been set up
for linux.conf.au 2008.  You can subscribe to it at:</p>

<p><a href="http://lists.mel8ourne.org/cgi-bin/mailman/listinfo/miniconf">http://lists.mel8ourne.org/cgi-bin/mailman/listinfo/miniconf</a></p>

<p>This list is for all discussion of the organisation of mini-conf's at linux.conf.au.  
This list is the best contact point for communicating issues and questions.</p>

<h3>Mini-conf Submission Scheduling</h3>

<p>The Call for Mini-Confs will close on Friday, July 20th, 2007.  Review
of the submitted mini-confs will take place over the following two weeks
and completed by Friday 3rd of August, 2007.  Mini-conf organisers will be
notified on this date if their mini-conf submission was successful.</p>

<h3>Sponsorship</h3>

<p>Please do not separately organise sponsorship for your mini-conf.

If you think there would be sponsor interest in your mini-conf, please contact
our sponsorship team at <a
href="mailto:sponsors@mel8ourne.org">sponsors@mel8ourne.org</a>, who will then
discuss with you appropriate arrangements and act as a single contact point for
the sponsors. Do not approach sponsors directly, and if you receive direct
inquiries, re-direct them to <a
href="mailto:sponsors@mel8ourne.org">sponsors@mel8ourne.org</a> or the <a
href="/2008/sponsors-media">Sponsors page</a>. Failure to do this could
jeopardise linux.conf.au's relationship with all sponsors!</p>

<h3>Advertising</h3>

<p>Again, to avoid annoying our sponsors, please don't display or distribute
banners, posters, leaflets or other advertising material without prior written
agreement from the mel8 team. Selling shirts or other clothing is OK provided
that this clothing is specific to your miniconf (eg "so-and-so miniconf" not
"so-and-so project").</p>
