
<h1 class="pop">About</h1>

  <h2>History</h2>
  <p>Where have <a href="/2008/about/history">previous linux.conf.au conferences</a> been held and who was speaking at them?</p>

  <h2>Melbourne</h2>
  <p>A bit of <a href="/2008/about/melbourne">info about melbourne</a>, how to get there and what to do and eat when you get here.</p>

  <h2>Linux</h2>
  <p>So <a href="/2008/about/linux">what is Linux</a> and what is all the fuss about?</p>

  <h2>Free, Libre and Open Source Software - FLOSS</h2> 
  <p>It's about <a href="/2008/about/floss">Software Freedom</a>: to change, to share, to create.</p>

