<h1 class="pop">Sponsors</h1>
		<p>If you are interested in sponsorship opportunities for linux.conf.au 2008, please get in touch via <a href="mailto:sponsors@mel8ourne.org">sponsors@mel8ourne.org</a> and let us know.</p>

		<p>Sponsorship options will be published during May 2007.</p>

	
<h1 class="pop">Media</h1>
	<p>A media action plan is being produced by the LCA2008 organising committee. If you are interested in becoming
	an official media partner, please get in touch via <a href="mailto:press@mel8ourne.org">press@mel8ourne.org</a>.</p>
