body {
  position: relative;
  font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  color: #666;
  margin: 0px auto;
  width: 900px;
  background: #92847b url(/images/background.gif) top center repeat-y; 
}

#wrapper {
  width: 900px;
  margin: 0px auto;
  background: #92847b url(/images/background.gif) top center repeat-y; 
}

#head {
  top: 0px;
  height: 120px;
  background: url(/images/header.gif) top center no-repeat;
}

#wikihead {
  float: right;
  clear: both;
  padding-right: 50px;
  padding-top: 70px;
}

#page-title {
  position: absolute;
  top: 35px;
  left: 235px;
  width: 605px;
  font-size: 20pt;
  font-weight: bold;
  color: #eee;
}

#page-subtitle {
  position: absolute;
  top: 65px;
  left: 235px;
  width: 605px;
  font-size: 16pt;
  font-weight: bold;
  color: #ddd;
}

#fork {
  position: absolute;
  top: 0;
  right: 43px;
  border: 0;
}

#columns {
  width: 900px;
  margin: 0px auto;
}
#col-left {
  position: relative;
  float: left;
  width: 171px;
  margin: 15px 0px 0px 40px;
  padding-left: 10px;
}
#col-right {
  position: relative;
  float: right;
  width: 600px;
  margin: 15px 61px 0px 0px;
  height: 100%;
}


#sidebar a {
  text-decoration: none;
  color: #ddd;
  padding: 2px 2px 4px 2px; 
  text-indent: 4px;
  display: block;
}

#sidebar {
  color: #aaa
}

#sidebar a.active, #sidebar .selected, #sidebar a:hover {
  color: #eee; 
  background: #666 url(/images/selector.gif) center right no-repeat; 
}

#sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#sidebar li {
  display: list-item;
  margin: 0px;
  border-bottom: 1px solid #666;
}
#sidebar h2 { font-size:150%; color: #fff; margin-bottom: 5px; }
#sidebar h3 { font-size:130%; color: #fff; margin-bottom: 5px; }
#sidebar h4 { font-size:100%; color: #fff; margin-bottom: 5px; }


#footer {
  text-align: right;
  color: #666;
  border-top: 1px solid #ccc;
  margin-top: 18px;
  padding: 10px 0px 10px 0px;
}

a {
  color: #6799b1;
  text-decoration: underline;
}
a:hover {
  color: #838f96;
  text-decoration: none;
}

h1, h2, h3, h4, h5 { color: #666; }
h1 { font-size: 16pt; }
h2 { font-size: 14pt; }
h3 { font-size: 12pt; }
h4 { font-size: 10pt; } 
h5 { font-size: 10pt; font-style: italic; }


#flash
{
    width:100%
}

#flash .message
{
    padding-top: 1em;
    padding-left: 50px;
    border: 1px solid #ccc;
    margin: 1em;
    background: #fffaaa url('/images/icons/emblem-note.png') no-repeat 10px 50%;
}

#flash .message-error
{
    background: #ff9999 url('/images/icons/dialog-error.png') no-repeat 10px 50%;
}

#flash .message-warning
{
    background: #ffcc88 url('/images/icons/dialog-warning.png') no-repeat 10px 50%;
}







/* begin Menu */
/* menu structure */

.netv-menu a, .netv-menu a:link, .netv-menu a:visited, .netv-menu a:hover
{
  text-align: left;
  text-decoration: none;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
}

.netv-menu, .netv-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.netv-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.netv-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.netv-menu li li
{
  float: none;
}

.netv-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}

.netv-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.netv-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.netv-menu:after, .netv-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.netv-menu, .netv-menu ul
{
  min-height: 0;
}

.netv-menu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.netv-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}

.netv-menu .selected
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: #ccc;
}

/* menu structure */

.netv-menu
{
  padding: 0 0 0 0;
}

.netv-nav
{
  position: relative;
  height: 29px;
  z-index: 100;
  background: #666;
}

.netv-nav .l, .netv-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 29px;
  background-image: url('images/nav.png');
}

.netv-nav .l
{
  left: 0;
  right: 0;
}

.netv-nav .r
{
  right: 0;
  width: 974px;
  clip: rect(auto, auto, auto, 974px);
}


/* end Menu */

/* begin MenuItem */
.netv-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 29px;
  cursor: pointer;
  text-decoration: none;
}

.netv-menu li
{
  margin-right: 0;
  margin-left: 0;
}

.netv-menu ul li
{
    margin:0;
    clear: both;
}


.netv-menu a .r, .netv-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 87px;
  background-image: url('images/menuitem.png');
}

.netv-menu a .l
{
  left: 0;
  right: 0;
}

.netv-menu a .r
{
  width: 400px;
  right: 0;
  clip: rect(auto, auto, auto, 400px);
}

.netv-menu a .t
{
  margin-right: 10px;
  margin-left: 10px;
  font-size: 13px;
  color: #000000;
  padding: 0 8px;
  margin: 0 0;
  line-height: 29px;
  text-align: center;
}

.netv-menu a:hover .l, .netv-menu a:hover .r
{
  top: -29px;
}

.netv-menu li:hover>a .l, .netv-menu li:hover>a .r
{
  top: -29px;
}

.netv-menu li:hover a .l, .netv-menu li:hover a .r
{
  top: -29px;
}
.netv-menu a:hover .t
{
  color: #F4F5F0;
}

.netv-menu li:hover a .t
{
  color: #F4F5F0;
}

.netv-menu li:hover>a .t
{
  color: #F4F5F0;
}


.netv-menu a.active .l, .netv-menu a.active .r
{
  top: -58px;
}

.netv-menu a.active .t
{
  color: #F2F3EC;
}
/* end MenuItem */

/* begin MenuSeparator */
.netv-nav .netv-menu-separator
{
  display: block;
  width: 1px;
  height: 29px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

tr.clickable:hover {
  background: #666;
  color: #eee;
  cursor: pointer;
}
